<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_01.png</string>
            <key>size</key>
            <string>{128,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771a4df6f266294af28dfca0c6b1151b:5cfb33ecbe8bec8df341f2f38eee4424:26ee0106a4eb46d864b355d2098d8cc5$</string>
            <key>textureFileName</key>
            <string>player_01.png</string>
        </dict>
    </dict>
</plist>
