
# --- Cocos2d-x ---
cocos2d/
.cocos-project.json
CMakeLists.txt

# --- proj.win32 文件夹下的 VS 临时文件 ---
proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.win32/.vs/

# ---  VS  ---
*.suo
*.user
*.userosscache
*.sln.docstates

# ---  C++  ---
*.o
*.obj
*.exe
*.out
*.so
*.a
*.lib
*.dll

# ---  日志  ---
*.tlog/
*.tlog
*.log
*.out
*.err
